# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times — Wednesday, October 2, 2002

The Guardian — Friday, 11.10.13

Daily News — Thursday, 18 August 1977

In [1]:
from datetime import datetime

In [ ]:
date_string_TMT = 'Wednesday, October 2, 2002'

In [ ]:
the_moscow_times = datetime.strptime(date_string_TMT, '%A, %B %d, %Y')
the_moscow_times

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
date_string_TG = 'Friday, 11.10.13'

In [ ]:
the_guardian = datetime.strptime(date_string_TG, '%A, %d.%m.%y')
the_guardian

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
date_string_DN = 'Thursday, 18 August 1977'

In [ ]:
daily_news = datetime.strptime(date_string_DN, '%A, %d %B %Y')
daily_news

datetime.datetime(1977, 8, 18, 0, 0)

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [3]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
stream[0]

'2018-04-02'

In [4]:
for date in stream:
    try:
        datetime.strptime(date, '%Y-%m-%d')
        print(date, True)
    except:
        print(date, False)

2018-04-02 True
2018-02-29 False
2018-19-02 False

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2021-04-17'
end_date = '2021-05-04'

def date_range(start_date, end_date):
    try:
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
        if start_date_dt > end_date_dt:
            print('Wrong daterange')
        else:
            while start_date_dt < end_date_dt:
                start_date_dt += timedelta(days = 1)
                print(start_date_dt)
    except:
        print('Wrong date')

date_range(start_date, end_date)

2021-04-18 00:00:00
2021-04-19 00:00:00
2021-04-20 00:00:00
2021-04-21 00:00:00
2021-04-22 00:00:00
2021-04-23 00:00:00
2021-04-24 00:00:00
2021-04-25 00:00:00
2021-04-26 00:00:00
2021-04-27 00:00:00
2021-04-28 00:00:00
2021-04-29 00:00:00
2021-04-30 00:00:00
2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00